<template>
  <v-form
    ref="form"
    v-model="valid"
    :lazy-validation="lazy"
  >
    <v-text-field
      v-model="name"
      :counter="20"
      :rules="nameRules"
      label="Name"
      required
    ></v-text-field>

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>

    <v-text-field
      v-model="title"
      :counter="30"
      :rules="titleRules"
      label="Title"
      required
    ></v-text-field>

    <v-text-field
      v-model="text"
      :counter="1024"
      :rules="textRules"
      label="Text"
    ></v-text-field>

		<Rating
			ref="rating"
			v-model="rating"/>

    <v-checkbox
      v-model="checkbox"
      :rules="[v => !!v || 'You must agree to continue!']"
      label="Do you agree?"
      required
    ></v-checkbox>

    <v-btn
      color="success"
      class="mr-4"
      @click="submit"
    >
      Submit
    </v-btn>

    <v-btn
      color="error"
      class="mr-4"
      @click="reset"
    >
      Reset Form
    </v-btn>
  </v-form>
</template>

<script>
  import Rating from './StarRating.vue'
  import Api from '../Api'

  export default {
    components: {
      Rating
    },
    data: () => ({
      valid: true,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 20) || 'Name must be less than 20 characters',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      title: '',
      titleRules: [
        v => !!v || 'Title is required',
        v => (v && v.length <= 30) || 'Title must be shorter than 30 characters. For longer text use \"Text\" field.',
      ],
      select: null,
      checkbox: false,
      lazy: false,
      text: '',
      textRules: [
          v => (v && v.length <= 1024) || 'Text must be shorter than 1024 characters.',
        ],
      rating: 0
    }),

    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          Api.createNew(this.name, this.email, this.title, this.rating, this.text)
          .then(() => {
            this.reset();
            this.$emit('submited');
          })
        }
      },
      reset () {
        this.$refs.form.reset()
        this.$refs.rating.resetRating()
      },
    },
  }
</script>
