<template>
	<v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Score</th>
            <th class="text-left">Author</th>
            <th class="text-left">E-mail</th>
            <th class="text-left">Title</th>
            <th class="text-left">Text</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in scores">
						<td>{{ item.score }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.summary }}</td>
            <td>{{ item.text }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
</template>

<script>
	import Api from '../Api';
	import Rating from './StarRating.vue'

	export default {
    data () {
      return {
        scores: [],
      }
    },

    components: {
      Rating
    },

	  mounted() {
      this.load()
    },

    methods: {
			load () {
				Api.getAll().then(response => {
          this.scores = response.data;
        })
			},
    }
  }
</script>
