<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-btn
        @click="clicked"
        text
      >
        <span class="mr-2">Score Collector</span>
      </v-btn>

      <v-spacer></v-spacer>

      <v-btn
        href="https://bitbucket.org/TomasLadr/scorecollector"
        target="_blank"
        text
      >
        <span class="mr-2">Repository</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content>
      <div class="smallContainer">
        <Form
          @submited="reload"/>
      </div>
      <div class="largeContainer">
        <List
          ref="list"/>
      </div>
    </v-content>
  </v-app>
</template>

<script>
import Form from './components/Form';
import List from './components/List';

export default {
  name: 'App',

  components: {
    Form,
    List
  },

  data: () => ({}),

  methods: {
      reload () {
        this.$refs.list.load()
      }
    },
};
</script>

<style>
.smallContainer{
  max-width:800px;
  padding:30px;
  margin:0 auto;
}
.largeContainer{
  max-width:1200px;
  padding:30px;
  margin:0 auto;
}
</style>
